@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  font-family: "Varela Round", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: aqua;
}
